<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <% if Village.setup_complete? && Village.any? %>
        <%= Village.first.name %>
      <% else %>
        Villagers
      <% end %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="conferenceDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Conferences
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="conferenceDropdown">
              <li>
                <%= link_to "All Conferences", conferences_path, class: "dropdown-item" %>
              </li>
              <% if policy(Conference).create? %>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <%= link_to "New Conference", new_conference_path, class: "dropdown-item" %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="programDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Programs
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="programDropdown">
              <li>
                <%= link_to "All Programs", programs_path, class: "dropdown-item" %>
              </li>
              <% if policy(Program).create? %>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <%= link_to "New Program", new_program_path, class: "dropdown-item" %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="qualificationDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Qualifications
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="qualificationDropdown">
              <li>
                <%= link_to "All Qualifications", qualifications_path, class: "dropdown-item" %>
              </li>
              <% if policy(Qualification).create? %>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <%= link_to "New Qualification", new_qualification_path, class: "dropdown-item" %>
                </li>
              <% end %>
            </ul>
          </li>
          <li class="nav-item">
            <%= link_to "Profile", edit_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link", data: { turbo_method: :delete } %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

